.shiki {
  margin: 0;
  padding: 8px;
  counter-reset: line;
  position: relative;
}
.shiki::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 30px;
  border-right: 1px solid #5e5e5e;
}

.shiki > code > .line {
  counter-increment: line;
  padding-left: 35px;
}
.shiki > code > .line::before {
  content: counter(line);
  display: inline-block;
  margin-left: -34px;
  margin-right: 25px;
  color: #a0a0a0;
}
